<div class="skybrudsocialprevalue2" ng-controller="Skybrud.Social.Google.OAuth.PreValues.Controller">

    <small>
        Google uses <strong>OAuth 2.0</strong> for authentication and communication. In order for
        users to authenticate with the Google API, you must specify the ID, secret and redirect URI
        of your Google app. You can create a new app at the following URL:
        <strong>https://console.developers.google.com/project</strong><br />
        <br />
        <div class="notice icon">
            <i class="icon icon-info"></i>
            <div>
                When a user authenticates with the Google API, a refresh token is
                saved along with information about the user. The refresh token can be used to obtain an
                access token, which again can be used to make calls to the Google API. Refresh tokens will
                not expire unless the user deauthorizes the app. Access tokens will only have a lifetime of
                about an hour.<br />
            </div>
        </div>
    </small>

    <div class="option">
        <label for="clientid">
            <span>Client ID</span>
            <small>The ID of the Google app.</small>
        </label>
        <div>
            <input id="clientid" type="text" ng-model="model.value.clientid" />
        </div>
    </div>
    
    <div class="option">
        <label for="clientsecret">
            <span>Client Secret</span>
            <small>The secret of the Google app.</small>
        </label>
        <div>
            <input id="clientsecret" type="text" ng-model="model.value.clientsecret" />
        </div>
    </div>
    
    <div class="option">
        <label for="redirecturi">
            <span>Redirect URI</span>
            <small>The redirect URI of the Google app.</small>
        </label>
        <div>
            <input id="redirecturi" type="text" ng-model="model.value.redirecturi" />
            <div ng-show="model.value.redirecturi == ''" class="suggestion">
                Will most likely be: {{suggestedRedirectUri}}
            </div>
        </div>
    </div>

    <div class="option">
        <label>
            <span>Scope</span>
            <small>The scope of the app (the permissions your app should be granted).</small>
        </label>
        <div class="scopes">
            <span ng-repeat="scope in scopes" class="label scope {{scope.type}}" title="{{scope.description}}">
                {{scope.prefix + scope.name}}
                <i class="icon icon-delete" ng-click="removeScope($index)"></i>
            </span>
            <span ng-click="addScope();" class="label scope add">
                <i class="icon icon-add"></i>
            </span>
        </div>
    </div>

</div>