<div ng-controller="socialGoogleScopesDialogCtrl">
    <div class="SocialDialogHeader">
        <div class="SocialDialogClose" ng-click="close();"></div>
        <div class="SocialDialogTitle">Select scopes</div>
    </div>
    <div class="SocialDialogContent">
        <div ng-repeat="group in scopes">
            <div class="table scopes">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">{{group.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="scope in group.scopes" ng-class="{'selected': scope.checked}">
                            <td>
                                <label>
                                    <input type="checkbox" ng-model="scope.checked" ng-change="update();" />
                                    <div>
                                        <strong>{{scope.name}}</strong>
                                        <small ng-show="scope.description">{{scope.description}}</small>
                                    </div>
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="SocialDialogFooter">
        <a class="btn btn-default" href="#" prevent-default ng-click="close();">Cancel</a>
        <a class="btn btn-success" ng-click="confirm();">Confirm ({{count}})</a>
    </div>
</div>