<div class="skybrudsocialprevalue2" ng-controller="Skybrud.Social.Facebook.OAuth.PreValues.Controller" ng-class="{umb74: version[0] == 7 && version[1] >= 4}">

    <small>
        Facebook uses <strong>OAuth 2.0</strong> for authentication and communication. In order for
        users to authenticate with the Facebook API, you must specify the ID, secret and redirect
        URI of your Facebook app. You can create a new app at the following URL:
        <strong>https://developers.facebook.com/</strong><br />
        <br />
        <div class="notice icon">
            <i class="icon icon-info"></i>
            <div>
                When a user authenticates with the Facebook API, an access token
                is saved along with information about the user. With the Facebook API, access tokens will
                expire after roughly two months.<br />
            </div>
        </div>
    </small>

    <div class="option">
        <label for="appid">
            <span>App ID</span>
            <small>The ID of the Facebook app.</small>
        </label>
        <div>
            <input id="appid" type="text" ng-model="model.value.appid" />
        </div>
    </div>

    <div class="option">
        <label for="appsecret">
            <span>App Secret</span>
            <small>The secret of the Facebook app.</small>
        </label>
        <div>
            <input id="appsecret" type="text" ng-model="model.value.appsecret" />
        </div>
    </div>

    <div class="option">
        <label for="redirecturi">
            <span>Redirect URI</span>
            <small>The redirect URI of the Facebook app.</small>
        </label>
        <div>
            <input id="redirecturi" type="text" ng-model="model.value.redirecturi" />
            <div ng-show="model.value.redirecturi == ''" class="suggestion">
                Will most likely be: {{suggestedRedirectUri}}
            </div>
        </div>
    </div>
    
    <div class="option">
        <label>
            <span>Scope</span>
            <small>The scope of the app (the permissions your app should be granted).</small>
        </label>
        <div class="scopes">
            <span ng-repeat="scope in model.value.scope" class="label scope">
                {{scope}}
                <i class="icon icon-delete" ng-click="removeScope($index)"></i>
            </span>
            <span ng-click="addScope();" class="label scope add">
                <i class="icon icon-add"></i>
            </span>
        </div>
    </div>

</div>