<div ng-controller="Skybrud.Social.Facebook.OAuth.Controller">

    <div ng-show="model.value">
        <div style="float: left; margin-right: 10px;">
            <img src="https://graph.facebook.com/{{model.value.id}}/picture?width=50&height=50"
                 srcset="https://graph.facebook.com/{{model.value.id}}/picture?width=100&height=100 2x,
                         https://graph.facebook.com/{{model.value.id}}/picture?width=150&height=150 3x"
                 width="50" height="50" alt="" />
        </div>
        <div style="float: left; margin-right: 10px;">
            <div style="margin-bottom: 5px;">
                <strong>{{model.value.name}}</strong> <span style="font-size: 12px;">(ID: {{model.value.id}})</span>
            </div>
                
            <button class="btn" ng-click="clear()" prevent-default="" style="float: left;">Clear</button>
            
            
            <div ng-show="expiresDays != NaN" style="float: left; line-height: 26px; padding-left: 5px; font-size: 12px;">
                <div ng-show="expiresDays < 0">
                    <span style="color: red;">Has expired</span>
                </div>
                <div ng-show="expiresDays < 7">
                    <span style="color: red;">Expires in {{expiresDays}} days</span>
                </div>
                <div ng-show="expiresDays >= 7">
                    Expires in {{expiresDays}} days
                </div>
            </div>
        </div>
        <div style="clear: both;"></div>
        
        <div style="float: left; margin-right: 10px;" ng-show="accounts">
            <h5>Business Page Accounts</h5>
            <select name="business-page" ng-model="selectedBusinessPage" ng-change="businessPageSelected(selectedBusinessPage)" ng-options="bp.name for bp in accounts track by bp.id">
                <option value="">choose an account...</option>
            </select>
        </div>
		<div style="clear: both;"></div>
        <div style="float: left; margin-right: 10px;" ng-show="selectedBusinessPage">
            <hr />
            <h5>Business Page Selected</h5>
            <span><strong>Id:</strong> {{ selectedBusinessPage.id }}</span><br />
            <span><strong>Name:</strong> {{ selectedBusinessPage.name }}</span>
            <!--<br /><span><strong>Access Token:</strong> {{ selectedBusinessPage.access_token }}</span>-->
        </div>
    </div>

    <div ng-show="!model.value">
        <button ng-click="authorize()" prevent-default="" class="btn">Authorize</button>
    </div>

</div>