.skybrudsocialprevalue {

    label { display: block; padding: 0 !important; }
    small + .option { margin-top: 20px; }
    .option + .option { margin-top: 25px; }
    
    .option > label > div { display: inline-block; width: 20%; }
    .option > label > input { width: 75%; }
    
    strong { font-weight: bold; color: #000; }

    small { padding: 0 !important; }

    .suggestion {
        margin-left: 20%;
        margin-top: 2px;
        padding-left: 5px;
        font-size: 11px;
        line-height: 13px;
        color: #b3b3b3!important;
    }

}


